@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgb(23, 21, 21);
  font-synthesis: none;
  /* overflow-x: hidden; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 488;
  transition: background-color 1s color 1s;
  animation: fadebg 0.3s ease-in-out 0  ;


}
ul{
  list-style:circle;
}

  *{
    font-family: 'Quicksand';
  
}

#light {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #d5c7cc, #a0a0a1);
  color: black;
  height: 100vh;
  /* transition: background-color 1s color 1s; */
  animation: fadebg 0.3s ease-in-out 0  ;
}

#dark {
  background-color: rgb(23, 21, 21);
  transition: background-color 0.3s color 0.3s;
  color: rgb(205, 205, 205);
  animation: fadebg 0.3s ease-in-out 0  
}
@keyframes fadebg {
  0%{
    opacity:0.7
  }
  100%{
    opacity: 1;
  }
}
#light .carousel-page{
  color:black;
}
#light .card{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  
}

#light .taskbar{
  background: linear-gradient(to right,    rgba(255, 255, 255, 0.1),  #c54b7a,   #a0a0a1);
    backdrop-filter: blur(15px);
}
.glass-box{
  background-color: rgb(223, 217, 217);
  background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
#light .glass-box {
box-shadow: 2px 20px 25px -5px #333 ;
}
#dark .carousel-button{
  color: rgb(200, 76, 96);
}

.text {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 35%;
  letter-spacing: 0px;
  left: 45%;
  transform: skew(0deg) translate(-10%, 90%) rotateY(-10deg);
  font-weight: 700;
  color: #eb6389;
  text-shadow:
    10px 50px 20px rgb(197, 71, 134),
    1px -2px 1px rgb(165, 25, 74),
    1px -2px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -4px 1px rgb(165, 25, 74),
    1px -5px 1px rgb(165, 25, 74),
    0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff,
    1px -6px 1px rgb(165, 25, 74),
    1px -7px 1px rgb(165, 25, 74),
    1px -8px 1px rgb(165, 25, 74),
    1px -9px 1px rgb(165, 25, 74),
    1px -10px 1px rgb(165, 25, 74),
    1px -11px 1px rgb(165, 25, 74),
    1px -12px 1px rgb(165, 25, 74),
    1px -13px;
}

.prod {
  display: flex;
  flex-direction: column;
  position:absolute;
  z-index: 10;
  transition: all;
  transition: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0.7;
  animation: fade-in 0.2s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.wall {
  padding: 20px;
  padding-left: 20px;
  transform: perspective(104px) rotateY(25deg) rotateX(0deg) translateZ(240px);
  box-shadow: 0px 4px 6px rgba(192, 10, 10, 0.2);
  width:20%;
  box-sizing: border-box;
  height: 200px;
  position: relative;
  }
  .wall ::before{
    height: 200px;
    width: 10px;
    background-color: red;
    position: absolute;
    z-index: 10;

  }

.floor {
  width: 60%;
  margin-left: 43%;
  height: 200px;
  background: linear-gradient(35deg, rgba(18, 17, 17, 0.2) 0%, rgba(24, 23, 23, 0.4) 100%);
  position: absolute;
  top: 40%;
  transform-origin: top;
  transform: skew(-60deg) perspective(3px) rotateX(38deg) translateZ(-38px) translateY(0px);
  box-shadow: -15px  -50px 50px rgb(200, 76, 96);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
#light .floor{
  box-shadow: -20px -50px 50px rgb(74, 18, 26);
}

.digitalresume{
  overflow-y:scroll;
  overflow-x: hidden;
}


#light .pdf-download-btn{
  color: black;
}

#light .tooltip{
  color:white;
}

::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 6px;
}
::-webkit-scrollbar{
  background-color: rgba(0, 0, 0, 0.1)

}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.2 ); /* color of the scrollbar track on hover */
}
::-webkit-scrollbar-thumb{
  background-color:rgb(0, 0, 0, 0.4);
  width: 8px;
  border-radius: 15px;
  height: 30vh;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom,    black,  #c54b7a,   black);}
#dark ::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, 0.5 );
}

#dark ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(to bottom,    rgba(0, 0, 0, 0.2 ),  #c54b7a,   rgba(0, 0, 0, 0.2 ));
}
#dark .resume-header{
  background-color: rgba(0, 0, 0, 0.3);
}
.resume-header {
  background-color: rgba(0, 0, 0, 0.1);
}

.skills-section{
  background-color: rgba(0, 0, 0, 0.2);
}
#light .skills-section{
  background-color: rgb(0, 0, 0, 0.1);
}

.hr{
  background-color: red;
}

.skills-section figure {
  background-color: rgba(19, 19, 255, 0.376);
  width: fit-content;
}

.exp figure {
  background-color: rgba(19, 19, 255, 0.376);
  width: fit-content;
}
.frontend-eng{
  color:rgba(19, 19, 255, 0.376) ;
}
#dark .frontend-eng{
  color: rgb(116, 155, 222);
}
.exp blockquote{
  color: #f695b0;
}
#light .exp blockquote{
  color: #bd1053;
}

.welcome-page h1{
  transform: skew(0deg) ;
  font-weight: 700;
  color: #eb6389;
  font-size: 5.2em;
  text-shadow:
    10px 50px 20px rgb(197, 71, 134),
    1px -2px 1px rgb(165, 25, 74),
    1px -2px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -4px 1px rgb(165, 25, 74),
    1px -5px 1px rgb(165, 25, 74),
    0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff,
    1px -6px 1px rgb(165, 25, 74),
    1px -7px 1px rgb(165, 25, 74),
    1px -8px 1px rgb(165, 25, 74),
    1px -9px 1px rgb(165, 25, 74),
    1px -10px 1px rgb(165, 25, 74),
    1px -11px 1px rgb(165, 25, 74),
    1px -12px 1px rgb(165, 25, 74),
    1px -13px;
}
.welcome-page .h-first{
  animation-name: slide-in-out;
  animation-duration: 1.4s;
  animation-timing-function: ease-forwards;
  animation-fill-mode: backwards;
  animation-delay: 1.2s;
 left:3.5%;
}
@keyframes slide-in-out {
  from {
    left:-100%;
  }
  to{
    left: 5%;
    }
}
.welcome-page .to-text{
  animation-name:bounce-in;
  animation-duration: 1.8s;
  animation-timing-function: ease-forwards;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  left: 37%;
  top: 30%;
  opacity: 0;
  
}
@keyframes bounce-in {
  0% {
    top: -50%;
    transform: translateY(-40px);
    opacity: 0;
  }
  70% {
    top: 30%;
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    top: 30%;
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-page .name {
  animation-name: slide-left;
  animation-duration: 1.2s;
  animation-timing-function: ease-forwards;
  animation-delay: 1s;
  animation-fill-mode: forwards;
 right:15%;
  opacity:0;
 
}
@keyframes slide-left {
  from{
      right:120%;
      opacity:0;
  }
  to{
    right: 20%;
    opacity: 1;
  }

}

.welcome-page .folio {
  animation-name: slide-up;
  animation-duration: 1.2s;
  animation-timing-function: ease-forwards;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  opacity:0;
 
}
@keyframes slide-up {
  from{
      bottom:120%;
      opacity:0;
  }
  to{
    bottom: 10%;
    opacity: 1;
  }
}
.s-icon-cont{
  position: relative;
}

@keyframes moveIcon {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@media (max-width: 768px) {
 .welcome-page h1{
      font-size: 4.1em;
 } 
 .glass-box a img{
  width: 55px;
 }
 .floor{
  /* background-color: red; */
  width: 120%;
  margin-left:50px;
  height: 200px;
  position: absolute;
  top: 50%;
  /* transform-origin: top; */
  transform: perspective(-200px) rotateX(40deg) translateZ(-28px) translateY(0px);
  /* box-shadow: -15px  -5px 5px rgb(200, 76, 96); */
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.wall ::before{
  background-color: red;
  height: 100vw;
  width: 50px;
}
.text{
  top:50%;
  left:10%;
  text-shadow:
  10px 10px 20px rgb(197, 71, 134),
  1px -2px 1px rgb(165, 25, 74),
  1px -2px 1px rgb(165, 25, 74),
  1px -3px 1px rgb(165, 25, 74),
  1px -3px 1px rgb(165, 25, 74),
  1px -3px 1px rgb(165, 25, 74),
  1px -4px 1px rgb(165, 25, 74),
  1px -5px 1px rgb(165, 25, 74),
  0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff,
  1px -6px 1px rgb(165, 25, 74),
  1px -7px 1px rgb(165, 25, 74),
  1px -8px 1px rgb(165, 25, 74),
  1px -9px 1px rgb(165, 25, 74),
  1px -10px 1px rgb(165, 25, 74),
  1px -11px 1px rgb(165, 25, 74),
  1px -12px 1px rgb(165, 25, 74),
}
 }



