@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color:#c0c0c3; */
  font-synthesis: none;
  /* width: 1200px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 488;
  overflow-y: scroll;
  overflow-x: scroll;
}
*{
  font-family: serif;
  /* font-style: italic; */
}
#light {
  background-color:#c0c0c3;
  color: black;
  height: 100vh;
}
#dark {
  background-color: rgb(23, 21, 21);
  color: azure;
}
#light .carousel-page{
  /* background-color:#babec4; */
  color:black;
  background: linear-gradient(to right, #a1a1a1, white, #8e8e8e);
}
#light .card{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  
}

#light .taskbar{
  background: linear-gradient(to right,    rgba(255, 255, 255, 0.1),  #c54b7a,   #a0a0a1);
    backdrop-filter: blur(15px);
}
.Aboutme{
  background-color: rgb(223, 217, 217);
  background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
#light .Aboutme {
  border: 1.5px solid black;
}
#dark .carousel-button{
  color: rgb(200, 76, 96);
}

.text {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 35%;
  letter-spacing: 0px;
  left: 45%;
  transform: skew(0deg) translate(-10%, 90%) rotateY(-10deg);
  font-weight: 700;
  color: #eb6389;
  text-shadow:
    10px 50px 20px rgb(197, 71, 134),
    1px -2px 1px rgb(165, 25, 74),
    1px -2px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -3px 1px rgb(165, 25, 74),
    1px -4px 1px rgb(165, 25, 74),
    1px -5px 1px rgb(165, 25, 74),
    0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff,
    1px -6px 1px rgb(165, 25, 74),
    1px -7px 1px rgb(165, 25, 74),
    1px -8px 1px rgb(165, 25, 74),
    1px -9px 1px rgb(165, 25, 74),
    1px -10px 1px rgb(165, 25, 74),
    1px -11px 1px rgb(165, 25, 74),
    1px -12px 1px rgb(165, 25, 74),
    1px -13px;
}

.prod {
  display: flex;
  position:absolute;
  z-index: 10;
  transition: all;
  transition: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0.7;
  animation: fade-in 0.2s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.wall {
  /* background: linear-gradient(bottom(45deg, rgb(0, 0, 0) 0%, rgb(33, 32, 32) 100%)); */
  padding: 20px;
  padding-left: 20px;
  transform: perspective(104px) rotateY(25deg) rotateX(0deg) translateZ(220px);
  box-shadow: 0px 4px 6px rgba(192, 10, 10, 0.2);
  width: 280%;
  box-sizing: border-box;
  height: 200px;
  position: relative;
}

.floor {
  width: 80%;
  margin-left: 44%;
  height: 100px;
  background: linear-gradient(35deg, rgba(18, 17, 17, 0.2) 0%, rgba(24, 23, 23, 0.4) 100%);
  position: absolute;
  top: 185px;
  transform-origin: top;
  transform: perspective(0px) rotateX(40deg) translateZ(-28px) translateY(0px);
  box-shadow: -15px  -50px 50px rgb(200, 76, 96);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
#light .floor{
  box-shadow: -20px -50px 50px rgb(74, 18, 26);
}

.digitalresume{
  overflow-y:scroll;
}


#light .pdf-download-btn{
  color: black;
}

::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 6px;
}
::-webkit-scrollbar{
  background-color: rgba(0, 0, 0, 0.1)

}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.2 ); /* color of the scrollbar track on hover */
}
::-webkit-scrollbar-thumb{
  background-color:rgb(0, 0, 0, 0.4);
  width: 8px;
  border-radius: 15px;
  height: 30vh;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom,    black,  #c54b7a,   black);}
#dark ::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, 0.5 );
}

#dark ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(to bottom,    rgba(255, 255, 255, 0.5),  #c54b7a,   #a0a0a1);
}
.wave-container {
  width: 50vw; /* Set the width to 100% of the viewport */
  height: 900px; /* Set the height to 100% of the viewport */
  overflow: hidden; /* Hide any overflowing parts of the curves */
}

.wave {
  fill: #fff; /* Set the wave color to white */
}

.wave-1 {
  animation: wave-motion 4s ease-in-out infinite; /* Animate the first wave */
}

.wave-2 {
  animation: wave-motion-2 5s ease-in-out infinite; /* Animate the second wave with a slightly different speed */
}

/* @keyframes wave-motion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}

@keyframes wave-motion-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1800px);
  }
} */
