.cardContainer{
      position: relative;
      height:60vh;
      width: 600px;
      border: 0;
      box-shadow: 0;
      background-color: black;
      border-radius: 20px;
}
.cardContainer .card{
      display: flex;
      border: 30px;
      z-index: 1;   
}
 .cardContainer .card{
      position: absolute;
      overflow: hidden;

      /* box-shadow: 0; */
      overflow: hidden;
      height:100%;
      width: 100%;
      object-fit: contain
;}

#dark .pj-pag{
  background-color: #222222;
  box-shadow: 0px 3px 6px 4px pink;

}
.cardContainer  .card img{
      z-index: 3 !important;
      height: 90%;
      object-fit: cover;
      /* margin-top: 30px;   */
      position: absolute;
      cursor: pointer;
}
.demobtn{
      z-index: 5;
      position: absolute;
      bottom: 20px;
      left: 40%;
}
.bezelanimation1{
      animation: crt 2s ease-in-out infinite alternate-reverse ;
      position: absolute;
      z-index: 4;
      width: 100%;
      height:1px;
      background-color: gray;

}
@keyframes crt {
      from {
            top: 10%;
      }
   to{
      top: 76%;
      }   
}
.bezelanimation2{
      animation: crt 3s ease-in-out infinite alternate ;
      position: absolute;
      z-index: 4;
      width: 100%;
      height:1px;
      background-color: rgb(249, 161, 230);
}
@keyframes crt {
      from {
            top: 70%;
      }
   to{
            top: 13%;
      }  
}
@media (max-width:768px) {
   .pj-pag{
      width: 90vw;
   }    
   .cardContainer  .card img{
      height: 90%;

   }
   .cardContainer{
      width: 75vw;
      height: 60%;
   }
   .demobtn{
      top: 100%;
      left: 30%;
   }
}